{% extends 'base.html' %}
{% block content %}

<h1>Dragon Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ dragon.name }}</span>
            <p>{{dragon.d_type}}</p>
            <p>{{dragon.subtype}}</p>
            <p>{{dragon.get_age_display}}</p>
            <p>{{dragon.lore}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'dragon_update' dragon.id %}">Edit</a>
            <a href="{% url 'dragon_delete' dragon.id %}">Delete</a>
        </div>
    </div>
  </div>    
<div class="col s6">
    <form action="{% url 'add_adventurer' dragon.id %}" method="post">
        {% csrf_token %}
        {{ adventurer_form.as_p }}
        <input type="submit" class="btn" value="A Foolish Adventurer Arrives">
      </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Adventurer Class</th></tr>
      </thead>
      <tbody>
        {% for adventurer in dragon.adventurer_set.all %}
          <tr>
            <td>{{adventurer.date}}</td>
            <td>{{adventurer.get_adventurer_type_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dragon.name }}'s Loot</h3>
    {% if dragon.loot.count %}
      {% for loot in dragon.loot.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A  {{ loot.value }}</span> {{ loot.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Loot :(</h5>
    {% endif %}
  </div>
  <!-- Available Loot will come after this line -->
</div>
<!-- Available Loot will come after this line -->
<div class="col s6">
  <h3>Available Loot</h3>
  {% if loot.count %}
    {% for loot in loot.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A {{ loot.value }} gold piece</span> {{ loot.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_loot' dragon.id loot.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{dragon.name}} Already Has All Loot Available</h5>
  {% endif %}
</div>


<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });



 // add additional JS to initialize select below
 const selectEl = document.getElementById('id_adventurer_type');
  M.FormSelect.init(selectEl);

  </script>
{% endblock %}

