{% extends 'base.html' %}
{% block content %}

<h1>Dragon Details</h1>


<div class="card">
    <div class="card-content">
        <span class="card-title">{{ dragon.name }}</span>
        <p>{{dragon.d_type}}</p>
        <p>{{dragon.subtype}}</p>
        <p>{{dragon.get_age_display}}</p>
        <p>{{dragon.lore}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'dragon_update' dragon.id %}">Edit</a>
        <a href="{% url 'dragon_delete' dragon.id %}">Delete</a>
    </div>
</div>
<div class="col s6">
    <form method="post">
        {% csrf_token %}
        {{ adventurer_form.as_p }}
        <input type="submit" class="btn" value="A Foolish Adventurer Arrives">
      </form>
<table class="striped">
  <thead>
    <tr><th>Total Loots</th><th>Type</th></tr>
  </thead>
  <tbody>
    {% for adventurers in dragon.adventurer_set.all %}
      <tr>
        <td>{{adventurers.lootnumber}}</td>
        <td>{{adventurers.get_adventurer_type_display}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>




<script>
    // const lootEl = document.getElementById('id_date');
    // M.Datepicker.init(dateEl, {
    //   format: 'yyyy-mm-dd',
    //   defaultDate: new Date(),
    //   setDefaultDate: true,
    //   autoClose: true
    // });

const lootNum = document.getElementById('id_lootnumber');
const lootNum = Math.floor(Math.random() * 100) + 1


 // add additional JS to initialize select below
 const selectEl = document.getElementById('id_adventurer_type');
  M.FormSelect.init(selectEl);

  </script>
{% endblock %}

