

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: ;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    color: red;
  }

  nav {
      background-color: red;
  }


  .btn {
    background-color: red;
  }

  .card-content {
    background-image: url('https://image.shutterstock.com/image-illustration/head-angry-red-dragon-on-260nw-1069548530.jpg');
    display: block;
    align-items: baseline;
    color: white;
  }

  div .card-action {
    background-color: black;
  }